.conditionsCard {
  width: auto;
}

.conditionsTitle {
  font-weight: var(--font-weight-5);
  margin-bottom: var(--size-3);
}

.conditionsGrid {
  display: grid;
  grid-template-columns: 8rem 1fr;
  gap: var(--size-2);
}

.conditionsGrid > div {
  font-size: 0.875rem;
}

@media only screen and (min-width: 640px) {
  .conditionsCard {
    width: 20rem;
  }
}
