.spinner {
  position: relative;
  width: var(--size-4);
  height: var(--size-4);
}

.inner {
  width: 100%;
  height: 100%;
  border: 4px solid var(--app-spinner-outer-color);
  border-top: 4px solid var(--app-spinner-inner-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
